
CREATE TABLE students (
	id BIGINT(20) NOT NULL AUTO_INCREMENT,
	address VARCHAR(255) NOT NULL,
	age VARCHAR(255) NOT NULL,
	created_at DATETIME NOT NULL,
	emergency_contact VARCHAR(255) NOT NULL,
	ic VARCHAR(255) NOT NULL,
	name VARCHAR(255) NOT NULL,
	phone VARCHAR(255) NOT NULL,
	sex VARCHAR(255) NOT NULL,
	student_class VARCHAR(255) NOT NULL,
	student_code VARCHAR(255) NOT NULL,
	updated_at DATETIME NOT NULL,
	year VARCHAR(255) NOT NULL,
	PRIMARY KEY (id)
)
COLLATE='utf8_general_ci'
ENGINE=InnoDB
AUTO_INCREMENT=3;

